<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order Success</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
<p>Response: {{ response }}</p>

<button type="button" class="styled-button" onclick="location.href='{{ url_for('order_form') }}'">New Order</button>
<button type="button" class="styled-button" onclick="location.href='{{ url_for('index') }}'">Home</button>
<button type="button" class="styled-button" onclick="location.href='{{ url_for('show_saved_order') }}'">Saved Orders</button>
<button type="button" class="styled-button" onclick="location.href='{{ url_for('show_pending_bo_orders') }}'">Pending
    Orders
</button>
<a href="{{ url_for('run_scheduler') }}" target="_self">Process Saved Files</a>
</body>
</html>
