<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Order Form</title>
    <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet" type="text/css">
</head>
<script>
    // Function to update the value of Field B based on the value of Field A
    function updateFieldB() {
        // Get the value of Field A
        const fieldAValue = parseFloat(document.getElementById('ltp').value);
        // Calculate the value for Field B (Field A + 0.7%)
        const fieldBValue = fieldAValue + (fieldAValue * 0.007);
        const SL = fieldBValue + (fieldBValue * 0.012);
        const calcPrice = (SL - fieldBValue) * 1.5
        const TP = fieldBValue - calcPrice;
        // Set the value of Field B
        document.getElementById('entry_price').value = fieldBValue.toFixed(2); // Rounded to 2 decimal places
        document.getElementById('stop_loss').value = SL.toFixed(2);
        document.getElementById('take_profit').value = TP.toFixed(2);
    }

    // Add an event listener to Field A to call updateFieldB when its value changes
    document.addEventListener('DOMContentLoaded', (event) => {
        const ltp = document.getElementById('ltp');
        ltp.addEventListener('input', updateFieldB);

        // Add event listeners to product type radio buttons
        const productTypes = document.getElementsByName('product_type');
        productTypes.forEach(productType => {
            productType.addEventListener('change', toggleFields);
        });

        toggleFields(); // Initialize the fields on page load
    });

    function toggleFields() {
        const takeProfitField = document.getElementById('take_profit');
        const stopLossField = document.getElementById('stop_loss');
        const productTypeValue = document.querySelector('input[name="product_type"]:checked').value;

        if (productTypeValue === 'INTRADAY') {
<!--            takeProfitField.disabled = true;-->
            takeProfitField.style.backgroundColor = "#e9e9e9"; // Grey out the field
<!--            stopLossField.disabled = true;-->
            stopLossField.style.backgroundColor = "#e9e9e9"; // Grey out the field
        } else if (productTypeValue === 'CO') {
<!--            takeProfitField.disabled = true;-->
            takeProfitField.style.backgroundColor = "#e9e9e9"; // Grey out the field
            stopLossField.disabled = false;
            stopLossField.style.backgroundColor = ""; // Reset to default background color
        } else {
            takeProfitField.disabled = false;
            takeProfitField.style.backgroundColor = ""; // Reset to default background color
            stopLossField.disabled = false;
            stopLossField.style.backgroundColor = ""; // Reset to default background color
        }
    }

    function confirmSubmission(event) {
        event.preventDefault();  // Prevent form submission
        var symbol = document.getElementById('script').value;
        var userConfirmed = confirm("Are you sure you want to submit this order?");
        if (userConfirmed) {
            document.getElementById('orderForm').submit();
        }
    }
</script>
<body>
<h1>Order Form</h1>
<!--<form action="{{ url_for('order_form') }}" id="orderForm" method="POST" onsubmit="confirmSubmission(event)">-->
<form action="{{ url_for('order_form') }}" id="orderForm" method="POST" >
    <label for="script">Script:</label>
    <input id="script" name="script" required type="text">

    <label for="ltp">LTP:</label>
    <input id="ltp" name="ltp" required step="0.01" type="number">

    <label for="qty">Quantity:</label>
    <input id="qty" name="qty" required type="number" value="1">

    <label for="entry_price">Entry Price:</label>
    <input id="entry_price" name="entry_price" required step="0.01" type="number">

    <label for="stop_loss">Stop Loss:</label>
    <input id="stop_loss" name="stop_loss" required step="0.01" type="number" value="0">

    <label for="take_profit">Take Profit:</label>
    <input id="take_profit" name="take_profit" required step="0.01" type="number" value="0">

    <br><br>Select Order Type:<br><br>
    <label>
        <input checked name="option" type="radio" value="1">
        Single Order
    </label>
    <label>
        <input disabled name="option" type="radio" value="2">
        Multiple Orders
    </label><br><br>

    Select Buy/Sell:<br><br>
    <label>
        <input disabled name="b_s" type="radio" value="1">
        Buy
    </label>
    <label>
        <input checked name="b_s" type="radio" value="-1">
        Sell
    </label><br><br>

    Select OfflineMode Type:<br><br>
    <label>
        <input name="mode" type="radio" value="1">
        True
    </label>
    <label>
        <input checked name="mode" type="radio" value="0">
        False
    </label><br><br>

    Select Product Type:<br><br>
    <label>
        <input name="product_type" type="radio" value="INTRADAY">
        INTRADAY
    </label>
    <label>
        <input name="product_type" type="radio" value="CO">
        CO
    </label>
    <label>
        <input checked name="product_type" type="radio" value="BO">
        BO
    </label><br><br>

    Select Order Type:<br><br>
    <label>
        <input checked name="order_type" type="radio" value="1">
        Limit Order
    </label>
    <br><br>

    <label for="order_datetime">Select Order Date and Time:</label>
    <input id="order_datetime" name="order_datetime"  type="datetime-local">


    <input class="styled-button" type="submit" value="Submit Order">
    <button class="styled-button" onclick="location.href='{{ url_for('index') }}'" type="button">Cancel</button>

</form>
</body>
</html>
